/* Fundo geral */
body {
  font-family: Arial, sans-serif;
  background-color: #FFF9AF;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
logo-container {
  align-items: center;
  width: 320px;
  margin-bottom: 20px;
}img {
  display: block;
  margin: 0 auto;
  max-width: 400px;}
  
/* Caixa de login */
.login-container {
  background: #3D477E;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
  color: white;
}

/* Título */
.login-container h1 {
  margin-bottom: 25px;
}

/* Campos de entrada */
input[type="email"]
 {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #3D477E;
  font-size: 16px;
  background: white;
  border-radius: 50%;
  padding: 2px 5px;
}input[type="login"],
input[type="password"],input[type="email"]{
    width: 93%;
    padding: 12px;
    margin-bottom: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}
.password-field input {
  width: 100%;
  padding: 12px 40px 12px 12px; /* espaço direito para o ícone */
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box; /* garante que padding não aumente largura */
}
/* Campo de senha com ícone */
.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding-right: 30px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
  color: #3D477E;
  font-size: 16px;
  background: white;
  border-radius: 50%;
  padding: 2px 5px;
}

/* Checkbox e link */
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.remember-forgot a {
  color: #bfc4f2;
  text-decoration: underline;
}

.remember-forgot a:hover {
  text-decoration: none;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  background: #000E5D;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #00127f;
}

/* Texto "Cadastre-se" */
.cadastro {
  margin-top: 20px;
  font-size: 14px;
}

.cadastro a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

/* Rodapé */
footer {
  text-align: center;
  margin-top: 25px;
}

footer a {
  color: #000E5D;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
